{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock title %}

{% block contenido %}
<style>
  /* Ajustes de estilo para la página de inicio de sesión */

  .login-form {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-form h1 {
    font-size: 24px; /* Ajustamos el tamaño de la tipografía */
    color: #ff6b81; /* Cambiamos el color del título */
  }

  .messages {
    margin-top: 15px;
  }

  .messages div {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ff7675; /* Cambiamos el color de fondo de los mensajes de error */
    color: #d63031; /* Cambiamos el color del texto de los mensajes de error */
  }

  .container {
    margin-top: 20px;
  }

  /* Estilos para el botón de iniciar sesión y enlaces de "¿Olvidaste tu contraseña?" y "Crear una cuenta" */
  .btn-style {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #ff6b81; /* Cambiamos el color del fondo */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-style:hover {
    background-color: #e84393; /* Cambiamos el color al pasar el mouse */
  }

  /* Estilo para el botón de iniciar sesión */
  .btn-success {
    width: 100%; /* Ajustamos el ancho al 100% */
    padding: 15px; /* Ajustamos el padding */
    font-size: 16px; /* Ajustamos el tamaño de la tipografía */
    background-color: #ff6b81; /* Cambiamos el color del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-success:hover {
    background-color: #e84393; /* Cambiamos el color al pasar el mouse */
  }
</style>

<center>
  <form method="POST" class="login-form">
    <h1 class="h1">Iniciar sesión</h1>
    <br>
    <div class="messages">
      {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
    <br>
    {% csrf_token %}
    <div class="container">
      <table>{{ form }}</table>
      <br><br>
      <button type="submit" class="btn btn-success btn-lg px-3">Iniciar sesión</button>
    </div>
    <a href="{% url 'password_reset' %}" class="btn-success btn-style">¿Olvidaste tu contraseña?</a>
    <a href="{% url 'apps.usuario:registrar' %}" class="btn-style">Crear una cuenta</a>
  </form>
</center>
{% endblock %}
