{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock title %}

{% block contenido %}
  <center>
    <form method="POST" class="login-form">
      <h1 class="h1">Iniciar sesión</h1>
      <br>
      <div class="messages">
        {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      </div>
      <br>
      {% csrf_token %}
      <div class="container">
        <table>{{ form }}</table>
        <br><br>
        <button type="submit" class="btn btn-success btn-lg px-3">Iniciar sesión</button>
      </div>
    </form>
  </center>
{% endblock %}
