{% extends 'base.html' %}

{% block contenido %}
    <center>
        <h2 style="color: #ff5757;">Restablecer Contraseña</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" style="background-color: #ff5757; color: #fff; border: none; padding: 10px 15px; border-radius: 5px;">Enviar correo electrónico</button>
        </form>
        
        <div class="container" style="margin-top: 20px;">
            <div class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </center>
{% endblock %}
