{% extends 'base.html' %}

{% block contenido %}
<style>
  /* Ajustes de estilo para la página de restablecimiento de contraseña */

  center {
    text-align: center;
  }

  h2 {
    color: #333; /* Cambiamos el color del título */
  }

  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  button {
    background-color: #e44d26; /* Cambiamos el color del botón */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #c53f22; /* Cambiamos el color del botón al pasar el mouse */
  }
</style>

<center>
    <h2>Restablecer contraseña</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Restablecer contraseña</button>
    </form>
</center>
{% endblock %}
