{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block contenido %}
<center>
    <form method="POST" enctype="multipart/form-data" style="margin-top: 50px; margin-bottom: 50px;">
        <h1 style="color: #ff5757;">Registro de usuarios</h1>
        <br>
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container-fluid">
            <table>{{ form }}</table>
        </div>
        <br><br>
        <button type="submit" style="background-color: #ff5757; color: #fff; border: none; padding: 10px 15px; border-radius: 5px;">Registrar</button>
    </form>
</center>
{% endblock %}
