/* Archivo: static/css/estilos.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #ff5757; /* Tono principal de Fruit Punch */
  color: white;
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #cc4b4b; /* Tono secundario */
  color: white;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #ff5757;
  color: white;
  padding: 1em;
}

nav a:hover {
  color: #ff5757;
}

.contenido {
  padding: 1em;
}

footer {
  background-color: #ff5757;
  color: white;
  padding: 1em;
  text-align: center;
}

.login-form {
  text-align: center;
}

.login-form form {
  margin-top: 20px;
}

.login-form h1 {
  color: #333;
}

.messages {
  margin-top: 15px;
}

.messages div {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ff9999; /* Tono más claro */
  border-radius: 4px;
}

.container {
  margin-top: 20px;
}

/* Estilos para el botón de iniciar sesión */
.btn-success {
  background-color: #ff7f7f; /* Tono más claro que el principal */
  color: #fff;
  border: none;
}

.btn-success:hover {
  background-color: #ff6b6b; /* Tono más oscuro que el principal */
}

.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .container-centered {
      height: auto;
  }
}

.messages {
  max-width: 400px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages h1 {
  color: #333;
}

.success-message {
  color: #5cb85c;
}

.error-message {
  color: #d9534f;
}

/* Estilos para el marco de la imagen */
.img-frame {
  max-width: 100%;
  border: 5px solid #ff5757;
  border-radius: 8px;
  overflow: hidden;
  margin: 30px;
}

.img-frame img {
  width: 100%;
  height: auto;
}
